/* Styles shared between all pages */

html,
body,
.content {
    width: 100%;
    height: 100%;
}

body[data-aui-version] {
    overflow: hidden;
}

form.language-selection.aui {
    padding: 1%;
    margin: 0;
}

#editor {
    width: 96%;
    height: 82%;
    padding: 0;
    margin: 2%;
}

#editor[data-language-mode] {
    height: 94%;
}

label {
    margin-left: 1%;
}
