/* Styles shared between all pages */

html,
body,
.content {
    width: 100%;
    height: 100%;
}

body[data-aui-version] {
    overflow: hidden;
}

form.language-selection.aui {
    padding: 1%;
    margin: 0;
}

#editor {
    width: 96%;
    height: 82%;
    padding: 0;
    margin: 2%;
}

#editor[data-language-mode] {
    height: 87%;
    margin-bottom: 1%;
}

label {
    margin-left: 1%;
}

.submit-issue {
    float: right;
    margin-right: 8px;
    position: relative;
    top: 2px;
    font-weight: 600;
}

.submit-issue.view {
    margin-right: 14px;
}

.submit-issue:hover,
.submit-issue:focus {
    text-decoration: none;
}

.submit-issue img {
    width: 24px;
    position: relative;
    top: 3px;
}
