<div id="editor"></div>
<form class="language-selection aui">
    <aui-label for="select-language">Language:</aui-label>
    <aui-select id="select-language" name="product" no-empty-value placeholder="Start typing a language">
        <aui-option></aui-option>
        {{#each languages}}
        <aui-option value="{{this.mode}}">{{this.name}}</aui-option>
        {{/each}}
    </aui-select>
</form>
