<div id="editor"></div>
<form class="language-selection aui">
    <aui-label for="select-language">Language:</aui-label>
    <aui-select id="select-language" name="product" no-empty-value placeholder="Start typing a language">
        <aui-option></aui-option>
        {{#each languages}}
        <aui-option value="{{this.mode}}">{{this.name}}</aui-option>
        {{/each}}
    </aui-select>
    <a href="https://www.github.com/DrewML/hipchat-code-snippets/issues/new" class="submit-issue" target="_blank">
        <img src="{{furl '/img/feedback-icon.png'}}"> Submit Feedback
    </a>
</form>

<script src="{{furl '/dist/add.js'}}"></script>
