<div id="editor" data-language-mode="{{mode}}">{{code}}</div>
<a href="https://www.github.com/DrewML/hipchat-code-snippets/issues/new" class="submit-issue view" target="_blank">
    <img src="{{furl '/img/feedback-icon.png'}}"> Submit Feedback
</a>

<script src="{{furl '/dist/view.js'}}"></script>
